Chiral/Data_Analysis/.ipynb_checkpoints
Chiral/Data_Analysis/Channel/*.txt
Chiral/Data_Analysis/Gamma/*.txt
Chiral/Data_Analysis/Concurrence/*.txt
Chiral/Data_Analysis/Bell_Parameter/Bell_Ress/*.txt
Chiral/Data_Analysis/Bell_Parameter/Bell_Gamma/*.txt
Chiral/Data_Analysis/Bell_Parameter/Bell_Fixed_Base/*.txt
Chiral/Data_Analysis/Bell_Parameter/Correlator_Gamma/*.txt
Chiral/Data_Analysis/Energy/Energy_Channel/*.txt
Chiral/Data_Analysis/Energy/Energy_Gamma/*.txt
